<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Basic-Statistical-Testing" data-toc-modified-id="Basic-Statistical-Testing-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Basic Statistical Testing</a></span><ul class="toc-item"><li><span><a href="#~-is-same-as-!-in-R" data-toc-modified-id="~-is-same-as-!-in-R-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span><code>~</code> is same as <code>!</code> in R</a></span></li><li><span><a href="#ttest-have-come-under-fire" data-toc-modified-id="ttest-have-come-under-fire-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>ttest have come under fire</a></span></li></ul></li><li><span><a href="#Other-Forms-of-Structured-Data" data-toc-modified-id="Other-Forms-of-Structured-Data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Other Forms of Structured Data</a></span></li></ul></div>

## Basic Statistical Testing

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
df = pd.read_csv('datasets/grades.csv')
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [4]:
print(f"There are {df.shape[0]} rows and {df.shape[1]} colums")

There are 2315 rows and 13 colums

In [5]:
early_finishers = df[pd.to_datetime(df['assignment1_submission'])< '2016']
early_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000

### `~` is same as `!` in R

In [7]:
late_finishers = df[~df.index.isin(early_finishers.index)]
late_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [8]:
print(early_finishers['assignment2_grade'].mean())
print(late_finishers['assignment2_grade'].mean())

67.22912904587568
66.39581252709762

In [9]:
from scipy.stats import ttest_ind

ttest_ind(early_finishers['assignment2_grade'],late_finishers['assignment2_grade'])

Ttest_indResult(statistic=1.2514717608216366, pvalue=0.2108889627004424)

In [12]:
print(ttest_ind(early_finishers['assignment1_grade'],late_finishers['assignment1_grade']))
print(ttest_ind(early_finishers['assignment3_grade'],late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'],late_finishers['assignment4_grade']))

Ttest_indResult(statistic=1.322354085372139, pvalue=0.1861810110171455)
Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)
Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)

### ttest have come under fire

In [13]:
df1 = pd.DataFrame([np.random.random(100) for x in range(100)])
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.343825,0.503129,0.584879,0.326580,0.609754,0.254957,0.125508,0.148917,0.999482,0.117435,...,0.619570,0.755074,0.635678,0.944361,0.492055,0.000905,0.067434,0.210819,0.993196,0.310222
1,0.133593,0.338995,0.994662,0.513149,0.075123,0.134019,0.029195,0.627592,0.362392,0.178881,...,0.701754,0.519331,0.876026,0.958698,0.879824,0.134769,0.155785,0.823960,0.069370,0.904745
2,0.218418,0.384806,0.856375,0.422734,0.134176,0.809606,0.095049,0.004753,0.701435,0.755297,...,0.724807,0.890568,0.158621,0.764442,0.494942,0.146268,0.679797,0.666856,0.687406,0.258697
3,0.701576,0.935049,0.822297,0.951735,0.747974,0.366433,0.851148,0.472664,0.090982,0.542286,...,0.938645,0.575128,0.220325,0.068976,0.610395,0.536286,0.977201,0.555355,0.798988,0.415025
4,0.991319,0.649861,0.786722,0.302713,0.138690,0.857412,0.377971,0.364714,0.027687,0.032761,...,0.738616,0.533965,0.926674,0.748180,0.682493,0.494634,0.770503,0.532863,0.849663,0.855183

In [14]:
df2 = pd.DataFrame([np.random.random(100) for x in range(100)])
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.479526,0.730890,0.748207,0.753835,0.010486,0.280183,0.306579,0.720205,0.622640,0.231973,...,0.577949,0.358027,0.065206,0.217052,0.511348,0.971912,0.836534,0.348802,0.243477,0.832835
1,0.530556,0.752877,0.774110,0.630995,0.791988,0.849220,0.393622,0.093627,0.454884,0.940018,...,0.957336,0.738336,0.680304,0.095514,0.355200,0.524081,0.582858,0.515929,0.369502,0.535098
2,0.214392,0.225227,0.469914,0.460613,0.887188,0.498395,0.015033,0.694833,0.223758,0.537069,...,0.667851,0.453230,0.950622,0.967298,0.744146,0.678841,0.965710,0.004176,0.815497,0.808830
3,0.922086,0.998518,0.696863,0.646408,0.396815,0.714547,0.763942,0.111663,0.052738,0.965204,...,0.016368,0.389005,0.508423,0.097397,0.467134,0.071941,0.629283,0.322574,0.434056,0.753629
4,0.489237,0.416842,0.425385,0.532327,0.269750,0.357667,0.042226,0.426774,0.576272,0.454997,...,0.841785,0.996296,0.367938,0.688280,0.867407,0.486751,0.530529,0.696738,0.969509,0.693439

In [21]:
def test_columns(alpha = 0.1,df1 = df1,df2 = df2):
    num_diff = 0
    
    for column in df1.columns:
        t_value,p_value  = ttest_ind(df1[column],df2[column])
        if p_value <= alpha:
            print(f'Col {column} is statistically significantly different at alpha = {alpha}, pval = {p_value}')
            num_diff +=1
    print(f'The number different was {num_diff}, which is {float(num_diff)/len(df1.columns) * 100}%')
    
test_columns()

Col 1 is statistically significantly different at alpha = 0.1, pval = 0.0903492241547135
Col 13 is statistically significantly different at alpha = 0.1, pval = 0.014531837150846431
Col 18 is statistically significantly different at alpha = 0.1, pval = 0.08483508420645926
Col 23 is statistically significantly different at alpha = 0.1, pval = 0.023030996717487203
Col 32 is statistically significantly different at alpha = 0.1, pval = 0.08057951777655917
Col 43 is statistically significantly different at alpha = 0.1, pval = 0.08630764115613801
Col 55 is statistically significantly different at alpha = 0.1, pval = 0.0816387477107163
Col 62 is statistically significantly different at alpha = 0.1, pval = 0.003594953119264165
Col 63 is statistically significantly different at alpha = 0.1, pval = 0.0032986894314424864
Col 72 is statistically significantly different at alpha = 0.1, pval = 0.003822967269282368
Col 82 is statistically significantly different at alpha = 0.1, pval = 0.09970424002179668
Col 91 is statistically significantly different at alpha = 0.1, pval = 0.06153722725371485
The number different was 12, which is 12.0%

In [23]:
test_columns(0.05)

Col 13 is statistically significantly different at alpha = 0.05, pval = 0.014531837150846431
Col 23 is statistically significantly different at alpha = 0.05, pval = 0.023030996717487203
Col 62 is statistically significantly different at alpha = 0.05, pval = 0.003594953119264165
Col 63 is statistically significantly different at alpha = 0.05, pval = 0.0032986894314424864
Col 72 is statistically significantly different at alpha = 0.05, pval = 0.003822967269282368
The number different was 5, which is 5.0%

## Other Forms of Structured Data

In [2]:
import numpy as np

a = np.arange(8)
b = a[4:6]
b[:] = 40
c = a[4] + a[6]
c

46

In [3]:
import re
s = 'ABCAC'
len(re.split('A', s)) == 2

False

In [4]:
re.split('A', s)

['', 'BC', 'C']

In [5]:
len(re.search('A', s)) == 2

TypeError: object of type 're.Match' has no len()

In [6]:
bool(re.match('A', s)) == True

True

In [33]:
s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'
result = []
pattern = "([^A]{1})(?=AAA)"
for item in re.finditer(pattern, s):
  # identify the group number below.
  result.append(item.group())
result

['C', 'F', 'B']

In [18]:
import pandas as pd
S = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])
S

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [19]:
S['b':'e']

b    1
c    2
d    3
e    4
dtype: int32

In [20]:
S[1:4]

b    1
c    2
d    3
dtype: int32

In [30]:
df = pd.DataFrame([['item_1'] * 3 + ['item_2']*3,['A','B','C'] * 2 , [10,20,np.nan,5,10,15]])
df = df.T
df.columns = ['Item','Store','Quantity sold']
df

     Item Store Quantity sold
0  item_1     A            10
1  item_1     B            20
2  item_1     C           NaN
3  item_2     A             5
4  item_2     B            10
5  item_2     C            15

In [31]:
df.groupby('Item').sum().iloc[0]['Quantity sold']

30

In [32]:
df.groupby('Item').sum()

       Store  Quantity sold
Item
item_1   ABC             30
item_2   ABC             30